<form name="form" ng-submit="submit()">
    <h2>Title:</h2>
    <input type="text" class="form-control" ng-model="post.title" name="post_title" required>
    <span class="text-danger" ng-messages="form.post_title.$error">
      <span ng-message="required">Required</span>
    </span>
    <span class="text-success" ng-show="form.post_title.$valid">OK</span>
    <br>
    <h2>Post:</h2>
    <pagedown-editor ng-model="post.description" ng-model="post.description" name="post_description" required></pagedown-editor>
    <span class="text-danger" ng-messages="form.post_description.$error">
      <span ng-message="required">Required</span>
    </span>
    <span class="text-success" ng-show="form.post_description.$valid">OK</span>
    <h2>Tags:</h2>
    <tags-input ng-model="post.tags">
      <!-- <auto-complete source="loadTags($query)"></auto-complete> -->
    </tags-input>
    <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid" value="Post post">
  </form>
