<div class= "col-md-offset-4">
<form name="reviewForm" ng-submit="submitReview();ok();reviewedUser()">
<textarea placeholder = "Rate on a scale of 0-5" style="min-width:50%;height:20px;border:solid 1px black" ng-model="newReview.rating" name="reviewEditor" required></textarea>

  <textarea placeholder = "Review" style="min-width:50%;min-height:150px;border:solid 1px black" ng-model="newReview.content" name="reviewEditor" required></textarea>
<br>
   <input type="submit" class="btn btn-primary" ng-disabled="reviewForm.$invalid" value="Submit your review">
</form>
</div>
