
<div class="container" id="post-show-container">
  <div class="col-md-8 col-md-offset-2">
    <button ng-if="isOwner(post)" type="button" class="close" ng-click="deletePost()">&times;</button>


    <div>
      <div style="float: right">
          <button ng-click="postMessage(post)" class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Message </button>{{post.createdAt|fromNow}}
        <span ng-if="! editing && post.progress == 'Open'" class="sphere green" title="Open"></span>
        <span ng-if="! editing && post.progress == 'In Progress'" class="sphere orange" title="In Progress"></span>
        <span ng-if="! editing && post.progress == 'Closed'" class="sphere red" title="Closed"></span>
        <select type=text ng-model="post.progress" ng-if=" editing">
            <option value="Open">Open</option>
            <option value="In Progress">In Progress</option>
            <option value="Closed">Closed</option>
          </select>
      </div>
      <div>
        <span style="font-size:xx-large" ng-if="! editing">{{post.title}}</span>
        <input type=text ng-model="post.title" ng-if=" editing">
          <small>Requested by <a ng-href="/profile/{{post.user._id}}">{{post.user.name}}</a></small>
      </div>
      <span ng-repeat="tag in post.tags">
        <a href="../?keyword={{tag.text}}"><span class="label label-info">
          {{tag.text}}
        </span></a>
        &nbsp;
      </span>
    </div>

    <!-- <div style="float: left;font-size: x-large; padding: 0; width: 2em; text-align: center;">
      <button ng-if=" isReport(post)" type="button" style="background: transparent; border: 0;" ng-click="unreport('')">
        <span class="glyphicon glyphicon-warning-sign" style="color: #CF7C00;" ></span>
      </button>
      <button ng-if="!isReport(post)" type="button" style="background: transparent; border: 0;" ng-click="report('')"  >
        <span class="glyphicon glyphicon-warning-sign"></span>
      </button>
      <br/>
      <div>{{post.reports.length}}</div>
    </div> -->

  <pagedown-viewer content="post.description" ng-if="!editing"></pagedown-viewer>
    <textarea style="min-width:100%;min-height:150px;border:solid 1px black" ng-model="post.description" ng-if=" editing"></textarea>
<br>
    <div style="float:right;">
      <div ng-if="! editing">{{post.location}} ${{post.price}}</div>
      <input type=text ng-model="post.location" ng-if=" editing">
      <input type=number ng-model="post.price" ng-if=" editing">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="editing=false;updatePost()" ng-show=" editing">Save</button>
    <a ng-click="editing=!editing;" ng-show="isOwner(post) && !editing">Edit</a>
    <div>
      <span>
        <button ng-if=" isLike(post)" type="button" style="background: transparent; border: 0;" ng-click="unlike('')">
          <span class="glyphicon glyphicon-heart" style="color: #CF7C00;" ></span>Like
        </button>
        <button ng-if="!isLike(post)" type="button" style="background: transparent; border: 0;" ng-click="like('')"  >
          <span class="glyphicon glyphicon-heart-empty"></span>Like
        </button>
      </span>
      <span>
        <button type="button" style="background: transparent; border: 0;" ng-click="commentScroll(post)">
             <span class="glyphicon glyphicon-envelope" ></span>
             Comment ({{post.comments.length}})
           </button>
      </span>
      <span>
        <button type="button" style="background: transparent; border: 0;" ng-click="shareModal('sm',post)">
             <span class="glyphicon glyphicon-envelope" ></span>Share
           </button>
      </span>
      <span>
        <button ng-if=" isReport(post)" type="button" style="background: transparent; border: 0;" ng-click="unreport('')">
          <span class="glyphicon glyphicon-warning-sign" style="color: #CF7C00;" ></span>Unreport
        </button>
        <button ng-if="!isReport(post)" type="button" style="background: transparent; border: 0;" ng-click="report('');reportMail(post)"  >
          <span class="glyphicon glyphicon-warning-sign"></span>Report
        </button>
      </span>
    </div>
<!-- <hr>
<div style="float: left;font-size: x-large; padding: 0; width: 2em; text-align: center;">
      <button ng-if=" isLike(post)" type="button" style="background: transparent; border: 0;" ng-click="unlike('')">
        <span class="glyphicon glyphicon-like" style="color: #CF7C00;" ></span>
      </button>
      <button ng-if="!isLike(post)" type="button" style="background: transparent; border: 0;" ng-click="like('')"  >
        <span class="glyphicon glyphicon-like-empty"></span>
      </button>
      <br/>
      <div>{{post.likes.length}}</div>
    </div>
Like

    <h3>
      <div ng-if="! editing">{{post.location}}</div>
      <input type=text ng-model="post.location" ng-if=" editing">
    </h3>

    <h3>
      <div ng-if="! editing">{{post.serviceDate | date:'mediumDate'}}</div>
      <input type=date ng-model="post.serviceDate" ng-if=" editing">
    </h3>

    <h3>
      <div ng-if="! editing">{{post.progress}}</div>
      <select type=text ng-model="post.progress" ng-if=" editing">
          <option value="Open">Open</option>
          <option value="In Progress">In Progress</option>
          <option value="Closed">Closed</option>
        </select>
    </h3> -->


    <!-- <button type="submit" class="btn btn-primary" ng-click="editing=false;updatePost()" ng-show=" editing">Save</button>
    <a ng-click="editing=!editing;" ng-show="isOwner(post) && !editing">Edit</a> -->

  <!-- <div class="text-right">by {{post.user.name}} · {{post.createdAt|fromNow}}</div> -->

<hr/>
<h3>{{post.comments.length}} Comments</h3>
<div ng-repeat="comment in post.comments">

  <!-- <div style="float: left;font-size: large; padding: 0; width: 2em; text-align: center;">
       <button ng-if=" isLike(comment)" type="button" style="background: transparent; border: 0;" ng-click="unlike('/comments/' + comment._id)">
         <span class="glyphicon glyphicon-heart" style="color: #CF7C00;" ></span>
       </button>
       <button ng-if="!isLike(comment)" type="button" style="background: transparent; border: 0;" ng-click="  like('/comments/' + comment._id)"  >
         <span class="glyphicon glyphicon-heart-empty"></span>
       </button>
       <br/>
       <div>{{comment.likes.length}}</div>
     </div>

     <div style="float: right;font-size: large; padding: 0; width: 2em; text-align: center;">
      <button ng-if=" isReport(comment)" type="button" style="background: transparent; border: 0;" ng-click="unreport('/comments/' + comment._id)">
        <span class="glyphicon glyphicon-warning-sign" style="color: #CF7C00;" ></span>
      </button>
      <button ng-if="!isReport(comment)" type="button" style="background: transparent; border: 0;" ng-click="  report('/comments/' + comment._id)"  >
        <span class="glyphicon glyphicon-warning-sign"></span>
      </button>
      <br/>
      <div>{{comment.reports.length}}</div>
    </div> -->

  <div class="comment">
    <button ng-if="isOwner(comment)" type="button" class="close" ng-click="deleteComment(comment)">&times;</button>



    <pagedown-viewer content="comment.content" ng-if="!editing2"></pagedown-viewer>
      <textarea style="min-width:100%;min-height:150px;border:solid 1px black" ng-model="comment.content" ng-if=" editing2&&isOwner(comment)"></textarea>
      <button type="submit" class="btn btn-primary" ng-click="editing2=false;updateComment(comment)" ng-show=" editing2">Save</button>
      <a ng-click="editing2=!editing2;" ng-show="isOwner(comment) && !editing2">Edit</a><br>
      <span>
        <button ng-if=" isLike(comment)" type="button" style="background: transparent; border: 0;" ng-click="unlike('/comments/' + comment._id)">
          <span class="glyphicon glyphicon-heart" style="color: #CF7C00;" ></span>Like
        </button>
        <button ng-if="!isLike(comment)" type="button" style="background: transparent; border: 0;" ng-click="  like('/comments/' + comment._id)"  >
          <span class="glyphicon glyphicon-heart-empty"></span>Like
        </button>
      </span>
      <span>
        <button ng-if=" isReport(comment)" type="button" style="background: transparent; border: 0;" ng-click="unreport('/comments/' + comment._id)">
          <span class="glyphicon glyphicon-warning-sign" style="color: #CF7C00;" ></span>Unreport
        </button>
        <button ng-if="!isReport(comment)" type="button" style="background: transparent; border: 0;" ng-click="  report('/comments/' + comment._id);reportCommentMail(post,comment)"  >
          <span class="glyphicon glyphicon-warning-sign"></span>Report
        </button>
      </span>
    <span style="float:right" class="text-right">by <a href="../profile/{{comment.user._id}}">{{comment.user.name}}</a> · {{comment.createdAt|fromNow}}</span>

  </div>
  <hr/>
</div>
<h3>Your comment</h3>
<div>
<form name="commentForm" ng-submit="submitComment();newCommentMail(post,newComment)">
  <textarea style="min-width:100%;min-height:150px;border:solid 1px black" ng-model="newComment.content" name="commentEditor" required></textarea>
<br>
   <input type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid" value="Submit your comment">
</form>
</div>
</div>
</div>
