
<div class="container" id="post-show-container">
  <div class="col-md-8 col-md-offset-2">
    <button ng-if="isOwner(post)" type="button" class="close" ng-click="deletePost()">&times;</button>


    <div>
      <div style="float: right">
          <!-- <button ng-click="postMessage(post)" class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Message </button>{{post.createdAt|fromNow}} -->
        <span ng-if="! editing && post.progress == 'Open'" class="sphere green" title="Open"></span>
        <span ng-if="! editing && post.progress == 'In Progress'" class="sphere orange" title="In Progress"></span>
        <span ng-if="! editing && post.progress == 'Closed'" class="sphere red" title="Closed"></span>
      </div>

      <div>
        <span style="font-size:xx-large" ng-if="! editing">{{post.title}}</span>
        <input type=text ng-model="post.title" ng-if=" editing">
          <small>Requested by <a ng-href="/profile/{{post.user._id}}">{{post.user.name}} <img ng-src="{{post.user.facebook.picture.data.url}}" style="height:25px;width:25px;" class="img-circle"/></a>
          </small>
      </div>
      <span ng-repeat="tag in post.tags">
        <a href="../?keyword={{tag.text}}"><span class="label label-info">
          {{tag.text}}
        </span></a>
        &nbsp;
      </span>
    </div>

    <!-- <div style="float: left;font-size: x-large; padding: 0; width: 2em; text-align: center;">
      <button ng-if=" isReport(post)" type="button" style="background: transparent; border: 0;" ng-click="unreport('')">
        <span class="glyphicon glyphicon-warning-sign" style="color: #CF7C00;" ></span>
      </button>
      <button ng-if="!isReport(post)" type="button" style="background: transparent; border: 0;" ng-click="report('')"  >
        <span class="glyphicon glyphicon-warning-sign"></span>
      </button>
      <br/>
      <div>{{post.reports.length}}</div>
    </div> -->

  <pagedown-viewer content="post.description" ng-if="!editing"></pagedown-viewer>
    <textarea style="min-width:100%;min-height:150px;border:solid 1px black" ng-model="post.description" ng-if=" editing"></textarea>
<br>

<div ng-if="post.servicer && isOwner(post)">CURRENT SERVICER:
  <a ng-href="/profile/{{post.servicer._id}}">{{post.servicer.name}}</a>
  <button ng-if="post.progress != 'Closed'"class="btn btn-success" ng-click="serviceComplete()">Completed</button>
  <button class="btn btn-danger" ng-click="servicerRemove(post.servicer)">Remove</button>
</div>

    <div style="float:right;">
      <div ng-if="! editing">{{post.location}} ${{post.price}}</div>
      <input type=text ng-model="post.location" ng-if=" editing">
      <input type=number ng-model="post.price" ng-if=" editing">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="editing=false;updatePost()" ng-show=" editing">Save</button>
    <a ng-click="editing=!editing;" ng-show="isOwner(post) && !editing">Edit</a>
    <div>
      <span>
        <button ng-if=" isLike(post)" type="button" style="background: transparent; border: 0;" ng-click="unlike('')">
          <span class="glyphicon glyphicon-heart" style="color: #CF7C00;" ></span>Like
        </button>
        <button ng-if="!isLike(post)" type="button" style="background: transparent; border: 0;" ng-click="like('')"  >
          <span class="glyphicon glyphicon-heart-empty"></span>Like
        </button>
      </span>
      <span>
        <button type="button" style="background: transparent; border: 0;" ng-click="commentScroll(post)">
             <span class="glyphicon glyphicon-envelope" ></span>
             Comment ({{post.comments.length}})
           </button>
      </span>
      <span>
        <button type="button" style="background: transparent; border: 0;" ng-click="shareModal('sm',post)">
             <span class="glyphicon glyphicon-envelope" ></span>Share
           </button>
      </span>
      <span>
        <button ng-if=" isReport(post)" type="button" style="background: transparent; border: 0;" ng-click="unreport('')">
          <span class="glyphicon glyphicon-warning-sign" style="color: #CF7C00;" ></span>Unreport
        </button>
        <button ng-if="!isReport(post)" type="button" style="background: transparent; border: 0;" ng-click="report('');reportMail(post)"  >
          <span class="glyphicon glyphicon-warning-sign"></span>Report
        </button>
      </span>
    </div>

<hr/>
<h3>{{post.comments.length}} Comments</h3>
<div ng-repeat="comment in post.comments">

<div>
  <button ng-if="comment.requested && !(post.servicer && post.servicer.id == comment.user.id)" class="btn btn-info" style="float:right" ng-click="acceptServicer(comment.user)">Accept</button>
    <pagedown-viewer content="comment.content" ng-if="!editing2"></pagedown-viewer>
      <textarea style="min-width:100%;min-height:150px;border:solid 1px black" ng-model="comment.content" ng-if=" editing2&&isOwner(comment)"></textarea>
      <button type="submit" class="btn btn-primary" ng-click="editing2=false;updateComment(comment)" ng-show=" editing2">Save</button>
      <a ng-click="editing2=!editing2;" ng-show="isOwner(comment) && !editing2">Edit</a><br>
      <span>
        <button ng-if=" isLike(comment)" type="button" style="background: transparent; border: 0;" ng-click="unlike('/comments/' + comment._id)">
          <span class="glyphicon glyphicon-heart" style="color: #CF7C00;" ></span>Like
        </button>
        <button ng-if="!isLike(comment)" type="button" style="background: transparent; border: 0;" ng-click="  like('/comments/' + comment._id)"  >
          <span class="glyphicon glyphicon-heart-empty"></span>Like
        </button>
      </span>
      <span>
        <button ng-if=" isReport(comment)" type="button" style="background: transparent; border: 0;" ng-click="unreport('/comments/' + comment._id)">
          <span class="glyphicon glyphicon-warning-sign" style="color: #CF7C00;" ></span>Unreport
        </button>
        <button ng-if="!isReport(comment)" type="button" style="background: transparent; border: 0;" ng-click="  report('/comments/' + comment._id);reportCommentMail(post,comment)"  >
          <span class="glyphicon glyphicon-warning-sign"></span>Report
        </button>
      </span>
    <span style="float:right" class="text-right">by <a href="../profile/{{comment.user._id}}">{{comment.user.name}}
      <img ng-if="comment.user.facebook.picture.data.url" ng-src="{{comment.user.facebook.picture.data.url}}" style="height:25px;width:25px;" class="img-circle"/>
      <img ng-if="!comment.user.facebook.picture.data.url" ng-src="/assets/images/default.png" style="height:25px;width:25px;" class="img-circle"/>
    </a> · {{comment.createdAt|fromNow}}</span>
  <hr/>
</div>
</div>
<h3>Your comment</h3>
<div>
<form name="commentForm" ng-submit="submitComment();newCommentMail(post,newComment)">
  <textarea style="min-width:100%;min-height:150px;border:solid 1px black" ng-model="newComment.content" name="commentEditor" required></textarea>
<br>
  <input type="checkbox" ng-model="newComment.requested"> Apply for service</input>
  <br><br>
   <input type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid" value="Submit your comment">
</form>
</div>
</div>
</div>
