<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Messaging</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    </head>
    
    
    <style>
    div.scroll {
        height: 300px;
        overflow-y: scroll;
    }

    div.hidden {
        background-color: #00FF00;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    </style>
    
    
    <body ng-app="zoomchat">
        <div class="container" ng-controller="chatController">
            <h1>Messaging Center</h1>
            <hr />
                <div class="scroll" id="messagewindow">
            <div ng-repeat="message in messages">
                <b ng-bind="message.from + ': '"></b>
                <span ng-bind="message.message"></span>
            </div>
            </div>
            <div ng-hide="messages.length > 0" style="text-align: center;">
                <h3></h3>
            </div>
            <hr />
            <form class="row">

                <div class="col-md-6 form-group">
                    <label>Message</label>
                    <input id="message" class="form-control" ng-model="newMessage.message" />
                </div>
                <div class="col-md-2 form-group">
                    <label>&nbsp;</label>
                    <button class="btn btn-block btn-success" ng-click="sendMessage()">Send</button>
                </div>
            </form>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
        <!-- AutoScroll -->
        <script>
            $(document).ready(function(){
                $('#messagewindow').animate({
                    scrollTop: $('#messagewindow')[0].scrollHeight}, 500);
            });
        
        </script>
        <!-- ZoomChat Code -->
        <script>
            var zoomchat = angular.module("zoomchat", ["firebase"]);

            zoomchat.controller('chatController', ['$scope','$firebaseArray',
                function($scope, $firebaseArray) {
                    var url = "https://lendachat-aeca6.firebaseio.com/"
                    var keys = "tt";
                    var res = url.concat(keys);
                    
                    var messages = new Firebase(res);
                    $scope.messages = $firebaseArray(messages);

                    $scope.newMessage = {from:"Me",message:""};

                    $scope.sendMessage = function () {
                        
                        $(document).ready(function(){
                            $('#messagewindow').animate({
                            scrollTop: $('#messagewindow')[0].scrollHeight}, 500);
                        });
                        
                        
                        $scope.messages.$add($scope.newMessage);
                        $('#message').val("");
                    }
                }
            ]);
        </script>
    </body>
</html>
